body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.dim {
  opacity: 0.68;
  transition-delay: 0.35s;
  transition-duration: 1.3s;
  transition: transform 0.6s ease-in-out;
}

.dim:hover {
  transform: scale(1.05);
}

.priceDiv {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.floatRight {
  float: right;
  padding-right: 500px;
  padding-top: 150px;
}

.floatLeft {
  float: left;
}

#color-price {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#color-name {
  font-size: 1.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  animation: text-flicker 1s linear infinite;
}

#paint-info-container {
  height: 5.5em;
}

#color-name {
  font-size: 1.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  animation: text-flicker 2.5s linear infinite;
}

@keyframes text-flicker {
  0% {
    color: rgb(0 231 118);
  }
  12.5% {
    color: rgb(109 77 66);
  }
  25% {
    color: rgb(29 137 228);
  }
  37.5% {
    color: rgb(254 23 67);
  }
  62.5% {
    color: rgb(0 0 0);
  }
  75% {
    color: rgb(5 172 195);
  }
  87.5% {
    color: rgb(5 172 195);
  }
  100% {
    color: rgb(254 235 0);
  }
}
